body{
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color:#283747;
    color: #eee8d5;
    z-index: 0;
}
#canvas{
    z-index: -1;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
#inputs{
    display: inline-block;
    width: 25%;
}
#smoothness, #amplitude, #velocity{
    float: right;
}
a, a:visited{
    color: #268bd2;
}